snippet liveReload 
// Live Preview
property alias ${2: loaded_item_id}: _loader.item
Loader {
    id: _loader

    function reload() {
        source = ""
        qmlEngine.clearCache()
        source = "${1:source}.qml"
    }

    source: "$1.qml"
	anchors.fill: parent
}

/*
Item {
	anchors.fill: parent
	focus: true
	Keys.onPressed: {
		if (event.key == Qt.Key_F5) {
			console.log("reloading")
			_loader.reload()
			event.accepted = true
		}
	}
}
*/
// End of Live Preview
endsnippet


