snippet equation
\begin{equation}
$0
\end{equation}
endsnippet

snippet figure
\begin{center}
    \begin{figure}[h]
        \centering
        \makebox[\textwidth][c]
        {
            \includegraphics[width=0.6\textwidth]{$1}
        }
        \captionsetup{justification=centering}
        \caption{

        }
        \label{fig:}
    \end{figure}
\end{center}

endsnippet
